<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li style="font-family: 'Roboto', sans-serif; font-size: 15px;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
