  <div class="container">
    <div class="col">
      <% if @user.objective %>
      <% @user.objective == 0 %>
      <p>Vous avez pas encore des objectives</p>
         <%= link_to "Modifier", edit_user_path(params[:id]), class: "btn btn-primary" %>
      <% else %>
      <ul class="justify-content-center">
        <li class="list-group-item">
          <%= @user.objective.description %>
          <li class="list-group-item">
         
        </li>
      </ul>
    <% end %>
  </div>
</div>

