<div id="background">
	<%= image_tag('background-index-2.png') %>
</div>

<div id="macbook">
	<%= image_tag('macbook-index.png') %>
</div>

<div class="row justify-content-center mt-5">

	<div class="col-md-3">
		  <div class="form-group">
		    <label class="white" for="cityDropdown" class="">Où ?</label>
		    <select class="form-control" id="cityDropdown">
		      <option>Bordeaux</option>
		      <option>Paris</option>
		      <option>Lyon</option>
		    </select>
		  </div>
	</div>

	<div class="col-md-3">
		  <div class="form-group">
		    <label class="white" for="cityDropdown" class="">Quel sport ?</label>
		    <select class="form-control" id="cityDropdown">
		      <option>Yoga</option>
		      <option>Boxe anglaise</option>
		      <option>Poney</option>
		    </select>
		  </div>
	</div>

</div>

<div style="height: 1000px;"></div>

