<div class="cgu static-page">
<h1><span class="title_CGU">CONDITIONS GÉNÉRALES D’UTILISATION DES SERVICES DE COACH-ME</span></h1>
<br>
<br>
<h2>DÉFINITIONS</h2>
<br>
<h3>Au sens des conditions générales d’utilisation, les expressions ci-dessous auront la définition suivante :</h3>
<li>
    CGU désigne les présentes conditions générales d’utilisation applicables aux Services.
</li>
<li>
    Données à Caractère Personnel désigne toute information concernant une personne physique identifiée ou identifiable ; est réputée identifiable une personne qui peut être identifiée, directement ou indirectement, notamment par référence à un numéro d’identification ou à un ou plusieurs éléments spécifiques, propres à son identité physique, physiologique, psychique, économique, culturelle ou sociale.
</li>
<li>
    Données de sport à Caractère Personnel désigne toute Donnée à Caractère Personnel de l’Utilisateur recueillie par un Professionnel de sport à l’occasion d’activités de prévention, de diagnostic, de soins ou de suivi social et médico-social et notamment dans le cadre de l’utilisation des Services.
</li>
    Identifiant désigne l’identifiant personnel associé au compte de l’Utilisateur ainsi que tout code confidentiel ou mot de passe délivré à l’Utilisateur par COACH-ME puis modifié par l’Utilisateur et permettant à l’Utilisateur de s’identifier afin d’accéder aux Services.
<li>
    Réglementation sur les données personnelles désigne ensemble le règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 applicable à compter du 25 mai 2018 (ci-après, « le Règlement Général sur la Protection des Données ») et la loi « Informatique et libertés » n°78-17 du 6 janvier 1978 modifiée la Loi n° 78-17 du 6 Janvier 1978 relative à l’informatique, aux fichiers et aux libertés, et modifiée par la loi n° 2004-801 du 6 août 2004.
</li>
<li>
    Parties désigne conjointement COACH-ME et l’Utilisateur.
</li>
<li>   
    Professionnel de santé désigne les professionnels intervenant dans le secteur de la santé, et qui sont présentés sur le Site.
</li>
<li>   
    Services désigne conjointement le Service d’Annuaire et le Service de Prise de Rendez-Vous en Ligne mis à disposition des Utilisateurs par COACH-ME par le biais du Site.
</li> 
<li>
    Service d’Annuaire désigne le service gratuit de recherche de Professionnels de Santé mis à disposition des Utilisateurs par COACH-ME par le biais du Site.
</li>
<li> 
    Service de Prise de Rendez-Vous en Ligne désigne le Service de prise de rendez-vous en ligne auprès de Professionnels de Santé mis à disposition des Utilisateurs par le biais du Site.
</li>
<li> 
    Site désigne le site Internet COACH-ME.
</li>
<li> 
    Utilisateur désigne toute personne physique qui utilise le Site et accède aux Services proposés par COACH-ME par le biais du Site.
</li>
<h3>Sauf indications contraires dans les CGU :</h3>
<li>
 	Dès lors qu’un mot ou une phrase a un sens défini, toute autre forme de ce mot ou cette phrase a un sens correspondant ;
</li>
<li>  
    Les mots au singulier incluent le pluriel et vice versa ;
</li>
<li> 
    Une référence à un document, une norme, une disposition législative, code ou tout autre document implique toute modification ou mise à jour de ce document, norme, disposition législative ou code ;
</li>
<li> 
    Si une période de temps est spécifiée et remonte à un jour donné ou au jour d’acceptation des CGU cette période de temps doit être calculée comme comprenant ce jour-là.
</li>

<h2>MENTIONS LÉGALES</h2>
Les Services de COACH-ME sont exploités et hébergés par COACH-ME, SAS, immatriculée au RCS de Bordeaux sous le numéro XXXX dont le siège social est situé au XX 33000 Bprdeaux et dont le numéro de TVA intracommunautaire est FR000000000000
<h2>OBJET DES CGU ET VERSION EN VIGUEUR</h2>
Les présentes CGU ont pour objet de définir les conditions dans lesquelles les Utilisateurs peuvent accéder aux Services et les utiliser.
<br>
Tout Utilisateur qui accède aux Services proposés par COACH-ME s'engage à respecter, sans réserve, les présentes CGU, complétées, le cas échéant, des CPU. Ces CPU sont notifiées avant l’utilisation des Services aux Utilisateurs pour acceptation expresse et préalable.
Si l’Utilisateur n’est pas en accord avec tout ou partie des CGU, il lui est vivement recommandé de ne pas utiliser le Site et les Services.
<br>
COACH-ME est libre de modifier, à tout moment, les présentes CGU, afin notamment de prendre en compte toute évolution légale, réglementaire, jurisprudentielle et/ou technique. La version qui prévaut est celle qui est accessible en ligne à l’adresse suivante : https://www.COACH-ME.fr/terms. Il en est de même pour les éventuelles CPU accessibles en ligne à l’adresse des Services. Tout Utilisateur est donc tenu de se référer à leur version accessible en ligne à la date de son accès et de son utilisation des Services.
L’Utilisateur est expressément informé que l’unique version des CGU des Services qui fait foi est celle qui se trouve en ligne sur le Site, ce qu’il reconnaît et accepte sans restriction, s’engageant à s’y référer systématiquement lors de chaque connexion.
<h2>CAPACITÉ</h2>
L’Utilisation des Services est réservée aux Utilisateurs personnes physiques capables de souscrire des obligations conformément au droit français ou par lequel il a été mandaté à cet effet.
L’Utilisateur peut utiliser les Services pour le compte de tiers sur lesquels il dispose de l’autorité parentale ou pour lesquels il est reconnu tuteur ou curateur conformément au droit français.
INFORMATIONS, RESPONSABILITÉS ET GARANTIES RELATIVES AUX MOYENS D'ACCÈS AUX SERVICES
COACH-ME met en place les moyens nécessaires à la bonne marche des Services. COACH-ME prend les mesures nécessaires au maintien de la continuité et de la qualité des Services.
L’Utilisateur reconnaît que son utilisation des Services se fait à ses risques et périls. Les Services lui sont fournis « en l’état » et sont accessibles sans aucune garantie de disponibilité et de régularité. COACH-ME s’efforcera cependant de rendre les Services accessibles 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de COACH-ME et sous réserve des périodes de maintenance, des pannes éventuelles, des aléas techniques liés à la nature du réseau internet ou des actes de malveillance ou toute atteinte portée au matériel ou aux logiciels de COACH-ME.
COACH-ME ne peut être tenue responsable des perturbations du réseau Internet dues à des cas de force majeure au sens de la jurisprudence de la Cour de Cassation et du fait des opérations de maintenance des Services planifiées par COACH-ME. COACH-ME ne peut également pas être tenue responsable de l’installation et du fonctionnement des terminaux utilisés par l’Utilisateur pour accéder aux Services et non fournis par COACH-ME.
<br>
Plus généralement, COACH-ME ne pourra en aucun cas être tenue pour responsable en raison d’une interruption des Services quel que soit la cause, la durée ou la fréquence de cette interruption.
Les taux de transfert et les temps de réponse des informations circulant à partir de la plateforme de COACH-ME vers Internet ne sont pas garantis par COACH-ME.
<br>
L’Utilisateur reconnaît que la vitesse de transmission des informations ne dépend pas des Services offerts par COACH-ME, mais des caractéristiques inhérentes aux réseaux de communications électronique et des caractéristiques techniques de son mode de connexion (câble, ADSL, 3G, 4G etc.) et de son accès internet.
COACH-ME ne saurait en aucun cas être tenue de réparer d’éventuels dommages indirects subis par l’Utilisateur à l’occasion de l’utilisation des Services. Les dommages indirects sont ceux qui ne résultent pas exclusivement et directement de la défaillance des Services de COACH-ME.
<br>
En outre, la responsabilité de COACH-ME ne peut pas être recherchée pour des actes réalisés par l’Utilisateur ou un tiers utilisant les Services.
<br>
Tout logiciel, téléchargé par l’Utilisateur, ou obtenu de toute autre manière lors de l’utilisation du Service, l’est aux risques et périls de l’Utilisateur.
<h2>INFORMATIONS PRÉALABLES RELATIVES AUX SERVICES</h2>
Le Site offre la possibilité à l’Utilisateur d’utiliser : - Le Service d’Annuaire ; - Le Service de Prise de Rendez-Vous en Ligne. et de recevoir des informations et documents de la part de ses praticiens.
<br>
Les Services sont fournis à l’Utilisateur à titre gratuit.
Néanmoins, les équipements (notamment ordinateur, téléphone, logiciels, moyens de communication électronique) permettant l’accès et l’utilisation des Services sont à la charge exclusive de l’Utilisateur, de même que les frais de communications électroniques (notamment coûts téléphoniques, coûts d’accès à Internet) résultant de leur utilisation. Il appartient à l’Utilisateur de s’informer du prix d’utilisation desdits équipements ou services auprès des opérateurs concernés. L’Utilisateur est seul redevable de leurs prix.
<br>
Par ailleurs, l’Utilisateur reconnaît que le Site renvoie à des prestations de services payantes. Notamment et par exemple, suite à une réservation effectuée par le biais du Service de Prise de Rendez-Vous en Ligne du Site, l’Utilisateur reconnaît et accepte que la prestation de santé effectuée par le Professionnel de Santé inscrit sur le Site soit payante. Lorsque COACH-ME fournit sur son Site des détails concernant les tarifs des honoraires d’un Professionnel de Santé, ces informations ne sont fournies qu’à titre indicatif et par souci de commodité. En aucun cas COACH-ME ne garantit l’exactitude de telles informations.
<h2>SERVICE D’ANNUAIRE</h2>
Le Service d’Annuaire permet à l’Utilisateur de rechercher un Professionnel de Santé conformément à différents critères (géolocalisation, spécialité, langues parlées, homme/femme, etc.) et de consulter la page des Professionnels de Santé ainsi recherchés.
<br>
COACH-ME ne garantit pas à l’Utilisateur que son annuaire contienne l’ensemble des professionnels de santé exerçant sur le territoire français et plus spécifiquement sur la zone géographique de recherche de l’Utilisateur. En conséquence, il est possible que l’Utilisateur ne trouve pas un professionnel de santé sur 
le Site en utilisant le Service d’Annuaire.
<br>
COACH-ME renvoie l’Utilisateur au site des Ordres professionnels compétents s’agissant des professionnels de santé exerçant une profession réglementée et aux sites des syndicats représentatifs des professionnels de santé n’exerçant pas une profession réglementée afin d’obtenir la liste exhaustive de membres de chaque profession concernée.
<br>
COACH-ME rappelle à l’Utilisateur qu’en aucun cas le Service d’Annuaire ne peut être assimilé, du fait de son absence d’exhaustivité, à un service d’adressage de patients aux Professionnels de Santé.
L’Utilisateur conserve toujours le choix des professionnels de santé qu’ils consultent conformément aux dispositions applicables du Code de la santé publique, aux dispositions déontologiques applicables aux professions réglementées et aux dispositions contraignantes applicables aux professions non réglementées.
<h2>SERVICE DE PRISE DE RENDEZ-VOUS EN LIGNE</h2>
L’Utilisateur peut, à tout moment, prendre un rendez-vous en ligne avec un Professionnel de Santé pour une consultation à un horaire indiqué comme disponible par le Professionnel de Santé sur le Portail et que l’Utilisateur aura préalablement identifié au sein du Portail par le biais du Service d’Annuaire.
Chaque rendez-vous est transmis en temps réel au Professionnel de Santé.
<br>
L’Utilisateur peut également gérer ses rendez-vous (annulation, modification) et suivre l’historique de ses rendez-vous.
<br>
L’Utilisateur autorise le Professionnel de Santé, via COACH-ME, et/ou COACH-ME à lui envoyer des SMS et e-mails dont l’objet est de lui délivrer des informations au sujet des rendez-vous qu’il a pris sur le Site.
L’Utilisateur autorise également le Professionnel de Santé, via COACH-ME, et/ou COACH-ME à lui notifier par SMS ou e-mail toute information pratique concernant les Professionnels de Santé qui font partie de la liste « Mon équipe soignante » accessible sur le compte de chaque Utilisateur, ou toute information de santé envoyée par ces mêmes Professionnels de Santé. Tout Professionnel de Santé chez qui l’Utilisateur a pris rendez-vous est automatiquement ajouté à cette liste. L’Utilisateur a la possibilité de modifier sa liste directement depuis son compte.
<br>
COACH-ME et le Professionnel de Santé déclinent toute responsabilité en cas d’erreur dans la saisie de ses coordonnées par l’Utilisateur rendant impossible l’envoi de tout SMS ou de tout e-mail nécessaire au bon fonctionnement et à la bonne administration du Service de Prise de Rendez-vous en Ligne.
<br>
Il appartient à l’Utilisateur de faire toutes vérifications qui semblent nécessaires ou opportunes avant de procéder à une quelconque réservation chez l’un des Professionnels de Santé inscrits sur le Site. COACH-ME n’est aucunement responsable de l’exactitude des informations qui figurent sur la page de chaque Professionnel de Santé. L’exactitude et la mise à jour de ces données sont sous l’entière responsabilité du Professionnel de Santé.
<br>
L’utilisation des Services ne dilue, ne modifie ou n’atténue ni directement, ni indirectement la responsabilité et les obligations des Professionnels de Santé inscrits aux Services vis-à-vis des Utilisateurs. Les Professionnels de Santé exercent leur pratique professionnelle en toute indépendance, selon leurs obligations déontologiques, légales et réglementaires personnelles et sous leur responsabilité exclusive.
<br>
COACH-ME n’est en aucun cas responsable d’une quelconque annulation ou indisponibilité du Professionnel de Santé consécutivement à l’identification et à la programmation d’un rendez-vous par l’Utilisateur via le Service de Prise de Rendez-Vous en Ligne.
<br>
L’Utilisateur s’engage à compléter toutes les Informations nécessaires qui lui sont demandées en vue de la bonne utilisation du Service de Prise de Rendez-Vous en Ligne.
L’Utilisateur est informé du fait que la programmation d’un rendez-vous via le Service de Prise de Rendez-Vous en Ligne constitue un engagement ferme de sa part, et que toute non présentation à un rendez-vous programmé doit faire l’objet d’une information préalable d’annulation ou de report auprès du Professionnel de Santé concerné. Cette information peut s’effectuer soit via le système d’annulation proposé via le Site, soit par tous moyens de contact du Professionnel de Santé inscrit, au choix de l’Utilisateur. L’utilisateur reconnaît être informé qu’il assume exclusivement les conséquences de sa non-présentation à un rendez-vous vis-à-vis du Professionnel de Santé concerné. L’Utilisateur est également informé que s’il est déclaré absent par un même Professionnel de Santé à trois de ses rendez-vous, il ne lui sera plus possible de prendre rendez-vous en ligne jusqu’à tant que le Professionnel de Santé concerné ne débloque sa possibilité de prise de rendez-vous.
<h2>INSCRIPTION ET ACCÈS AU SERVICE DE RENDEZ-VOUS EN LIGNE</h2>
Après demande de création de son compte de l’Utilisateur, COACH-ME délivre à l’Utilisateur des Identifiants afin que l’Utilisateur puisse accéder à son compte Utilisateur. Lors de sa demande d’ouverture de son compte Utilisateur, l’Utilisateur fournit des informations vraies, exactes, à jour et complètes sur son identité comme demandées dans le formulaire internet. Il s’engage notamment à ne pas créer une fausse identité de nature à induire COACH-ME ou les tiers en erreur et à ne pas usurper l’identité d’une autre personne physique. L’Utilisateur s’engage à mettre immédiatement à jour, en cas de modification, les données qu’il a communiquées initialement.
<br>
Dans l’hypothèse où l’Utilisateur fournirait des informations fausses, inexactes, périmées, incomplètes, trompeuses ou de nature à induire en erreur, COACH-ME pourra, immédiatement sans préavis ni indemnité, suspendre ou résilier le compte Utilisateur de l’Utilisateur et lui refuser l’accès, de façon temporaire ou définitive à tout ou partie des Services.
Le compte Utilisateur comprend notamment ses Identifiants et placés sous la responsabilité exclusive de l’Utilisateur. L’Utilisateur s’oblige à les conserver secrets et à ne pas les divulguer sous quelque forme que ce soit. Si l’un des éléments d’identification de l’Utilisateur est perdu ou volé, ce dernier doit informer sans délai COACH-ME, qui procédera alors à l’annulation et/ou la mise à jour immédiate(s) de l’Identifiant concerné.
<br>
L’Utilisateur est seul responsable de l’utilisation qui est faite de ses Identifiants, même si l’Utilisateur préenregistre sur son ordinateur, son téléphone mobile ou sur n’importe quel autre type d’équipement son Identifiant, permettant ainsi la connexion automatique aux Services.
Tout accès, utilisation des Services et transmission de données effectués à partir du compte Utilisateur d’un Utilisateur sera réputé avoir été effectué par ce dernier. La sauvegarde de la confidentialité des Identifiants de l’Utilisateur relève de l’entière responsabilité de ce dernier. A cet égard, l’Utilisateur est tenu de s’assurer qu’à l’issue de chaque session il se déconnecte effectivement des Services, en particulier lorsqu’il accède aux Services à partir d’un ordinateur public.
Toute perte, détournement ou utilisation non autorisée des Identifiants d’un Utilisateur et leurs conséquences relèvent de la seule responsabilité de cet Utilisateur. Dans tous les cas mentionnés ci-dessus, l’Utilisateur est tenu d’en avertir COACH-ME, sans délai, via la Formulaire d'aide, afin que COACH-ME puisse procéder à la réinitialisation du compte Utilisateur.
<br>
Chaque Utilisateur peut à tout moment résilier la souscription de son compte Utilisateur en contactant COACH-ME via le Formulaire d'aide.
<h2>SITES TIERS</h2>
Pour le cas où les Services contiendraient des liens hypertextes renvoyant vers des sites internet édités par des tiers (ci-après les « Sites Tiers ») sur lesquels COACH-ME n'exerce aucune sorte de contrôle, COACH-ME n'assume aucune responsabilité quant au contenu des Sites Tiers ou au contenu vers lequel les Sites Tiers peuvent renvoyer. La présence de liens hypertextes vers des Sites Tiers ne saurait signifier que COACH-ME approuve de quelque façon que ce soit les contenus des Sites Tiers. COACH-ME n'est responsable d'aucune modification ou mise à jour concernant les Sites Tiers. COACH-ME n'est pas responsable de la transmission d'informations à partir des Sites Tiers, ni du mauvais fonctionnement de ceux-ci.
<h2>PROPRIÉTÉ INTELLECTUELLE</h2>
Les Services de COACH-ME et tous les éléments qui les composent sont, sauf mentions particulières, la propriété exclusive de COACH-ME. Toutes les marques et tous les logos appartenant à COACH-ME ne peuvent pas être utilisés par l’Utilisateur sans le consentement préalable écrit de COACH-ME.
En conséquence, en application des dispositions du Code de la propriété intellectuelle, des dispositions législatives et réglementaires de tous pays et des conventions internationales, toute reproduction, diffusion ou représentation, intégrale ou partielle, des Services de COACH-ME ou d’un quelconque élément qui les compose est interdite de même que leur altération. A ce titre, il est notamment interdit à l’Utilisateur d’adapter, arranger, modifier, corriger, associer, traduire en toutes langues ou tous langages, mettre sur le marché à titre gratuit ou onéreux, commercialiser, tout ou partie des Services fournis par COACH-ME ou d’un quelconque élément qui les compose, quel qu’en soient le moyen et le support. Aucune stipulation des CGU ne peut être interprétée comme une cession de droits de propriété intellectuelle que ce soit tacitement ou d’une autre façon.
<h2>PROTECTION DES DONNÉES À CARACTÈRE PERSONNEL</h2>

<h2>DONNÉES À CARACTÈRE PERSONNEL RELATIVES À L’UTILISATEUR</h2>
COACH-ME invite expressément l’Utilisateur à consulter sa politique relative à la protection des données personnelles qui fait partie intégrante des présentes CGU.
<h2>COOKIES ET ADRESSE IP</h2>
COACH-ME invite expressément l’Utilisateur à consulter sa politique relative à la protection des données personnelles qui fait partie intégrante des présentes CGU.
A la demande des autorités judiciaires, COACH-ME peut transmettre l’adresse IP de l’Utilisateur, afin que ce dernier soit identifié en coopération avec son fournisseur d’accès à Internet.
<h2>FORCE MAJEURE</h2>
Il y a force majeure lorsqu'un événement échappant au contrôle du débiteur, qui ne pouvait être raisonnablement prévu lors de l’acceptation des CGU et dont les effets ne peuvent être évités par des mesures appropriées, empêche l'exécution de son obligation par le débiteur
Le cas de force majeure suspend les obligations de la partie concernée pendant le temps où jouera la force majeure si cet évènement est temporaire. Néanmoins, les Parties s’efforceront d’en minimiser dans toute la mesure du possible les conséquences.
<br>
A défaut, si l'empêchement est définitif, les parties seront libérées de leurs obligations dans les conditions prévues aux articles 1351 et 1351-1 du Code civil.
<h2>CONVENTION DE PREUVE</h2>
Les messages reçus par télécopie ou par voie électronique et plus généralement les documents électroniques échangés entre COACH-ME et l’Utilisateur sont des écrits d’origine au sens de l’article 1366du Code civil, c’est à dire comme ayant la même valeur que celle accordée à l’original. Il convient de conserver les télécopies ou les écrits électroniques de telle manière qu’ils puissent constituer des copies fidèles et durables au sens de l’article 1379 du Code civil.
<h2>RENONCIATION</h2>
Le fait pour l’une ou l’autre des Parties de ne pas se prévaloir d’une ou plusieurs stipulations des CGU ne pourra en aucun cas impliquer la renonciation par cette Partie à s’en prévaloir ultérieurement.
<h2>NULLITÉ PARTIELLE</h2>
Dans le cas où certaines stipulations des CGU seraient inapplicables pour quelque raison que ce soit, y compris en raison d’une loi ou d’une réglementation applicable, les parties resteront liées par les autres stipulations des CGU et s’efforceront de remédier aux clauses inapplicables dans le même esprit que celui qui a présidé lors de la conclusion.
<h2>DROIT APPLICABLE ET ATTRIBUTION DE COMPÉTENCE</h2>
L’Utilisateur est informé du fait que le Site s’adresse aux patients résidant en France et est soumise en droit français. Aussi, en naviguant sur le Site ou en utilisant les services de COACH-ME, l’Utilisateur se soumet au droit français.
<br>
Toutes difficultés relatives à la validité, l’application ou à l’interprétation des CGU seront soumises, à défaut d’accord amiable, au Tribunal de Grande Instance de Paris, auquel les Parties attribuent compétence territoriale, quel que soit le lieu d’exécution ou le domicile du défendeur. Cette attribution de compétence s’applique également en cas de procédure en référé, de pluralité de défendeurs ou d’appel en garantie.

<h2>PROTECTION DES DONNÉES À CARACTÈRE PERSONNEL</h2>
COACH-ME ou tout autre tiers n’ont pas accès à la Téléconsultation ou aux données échangées entre l'Utilisateur et les Professionnels de Santé. Elles restent strictement confidentielles. COACH-ME invite expressément l’Utilisateur à consulter les dispositions spécifiques de sa politique relative à la protection des données personnelles, applicables à la Téléconsultation, qui fait partie intégrante des présentes CPU.
<h2>INFORMATIONS RELATIVES AUX MOYENS D'ACCÈS ET AU SERVICE</h2>
Afin d’accéder au Service de Téléconsultation et bénéficier d’une Téléconsultation de qualité, l’Utilisateur doit disposer à minima,des équipements suivants: (1) un smartphone suffisamment récent disposant d’une caméra comportant une résolution satisfaisante et (2) une connexion internet (en 4G) avec un débit suffisant. Si tel n’est pas le cas, le Professionnel de Santé pourra mettre un terme à la Téléconsultation et s’il le juge opportun, prélever l’Utilisateur de frais afférents aux actes déjà effectués. COACH-ME n’est qu’un intermédiaire entre l’Utilisateur et le Professionnel de santé, leur permettant d’effectuer une consultation à distance par vidéotransmission, l’envoi de documents de manière électronique et le paiement en ligne.
<br>
Le Service de Téléconsultation est fourni à l’Utilisateur par COACH-ME à titre gratuit. Les équipements (smartphone, connexion internet...) permettant l’accès et l’utilisation des Services de Téléconsultation sont à la charge exclusive de l’Utilisateur, de même que les frais de communications électroniques (notamment coûts téléphoniques, coûts d’accès à Internet) y afférents. Il appartient à l’Utilisateur de s’informer du prix d’utilisation desdits équipements ou services auprès des opérateurs concernés avant d’utiliser le Service de Téléconsultation.
<br>

COACH-ME décline toute responsabilité en cas de litige, quelle qu’en soit la raison, entre l’Utilisateur et un Professionnel de santé, non directement imputable à COACH-ME.
Les incivilités, verbales ou écrites, à l’encontre des Professionnels de Santé téléconsultants peuvent faire l’objet de poursuites et de la suppression du compte COACH-ME de l’Utilisateur.
COACH-ME ne peut s’assurer de la conformité de son produit et son utilisation au delà de la juridiction française.
</div>