    <div class="title_contact">
    <div class="jumbotron jumbotron-fluid" style="background-color: #FF5630">
      <div class="container">
        <h1 class="display-4">Nous contacter</h1>
      </div>
    </div>
    </div>

<div class="contact_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="icones"><i class="fa fa-home fa-1x"></i>
                    </span>
                    Par courrier</h3>
                    <p>1 rue du sport 3300 Bordeaux</p>
                    <br />
                    <br />
                    <h3><span class="icones"><i class="fa fa-envelope fa-1x"></i>
                    </span>
                    Par E-mail</h3>
                    <p>contac@coach-me.com</p>
                    <br />
                    <br />
                    <h3>
                    <span class="icones"> <i class="fa fa-user fa-1x"></i>
                    </span>
                    Par téléphone</h3>
                    <p>05.00.00.00.00</p>
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-sm-6">
               <%= image_tag("contact.jpg", class:'picture_contact', alt:"picture_contact")%>
            </div>
        </div>
    </div>
</div>