<% content_for :title, "CoachMe | Contact" %>
    <div class="title_contact">
    
        <h1>Nous contacter</h1>
      </div>
  
<div class="contact_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="icones"><i class="fa fa-home fa-1x"></i>
                    </span>
                    Par courrier</h3>
                    <p>1 rue du sport 33000 Bordeaux</p>
                    <br />
                    <br />
                    <h3><span class="icones"><i class="fa fa-envelope fa-1x"></i>
                    </span>
                    Par E-mail</h3>
                    <p>coach.me.thp@gmail.com</p>
                    <br />
                    <br />
                    <h3>
                    <span class="icones"> <i class="fas fa-phone fa-1x"></i>
                    </span>
                    Par téléphone</h3>
                    <p>05.00.00.00.00</p>
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-sm-6">
               <%= image_tag("contact.png", class:'picture_contact', alt:"picture_contact")%>
            </div>
        </div>
    </div>
</div>