
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:##FF5630"></i>Par courrier</h3>               
                <p style="margin-top:6%;line-height:35%">1 rue du sport 3300 Bordeaux</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#FF5630"></i>Par E-mail</h3>
                <p style="margin-top:6%;line-height:35%">contac@coach-me.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#FF5630"></i>Par téléphone</h3>
                <p style="margin-top:6%;line-height:35%">05.00.00.00.00</p>
                <br />
                <br />
               
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.fr/maps/place/Bordeaux/@44.8637834,-0.6212462,13z/data=!3m1!4b1!4m5!3m4!1s0xd5527e8f751ca81:0x796386037b397a89!8m2!3d44.837789!4d-0.57918" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>