<% content_for :title, "CoachMe | Rechercher" %>
<div class="card-group">
  <div class="cards mt-5">
    <%= render 'coach_card' %>
  </div> <!-- End of cards class -->
  <div class="map">
    <div id="map"></div>
  </div>
</div>
