// Place all the styles related to the coaches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.coach-jumbotron {
  width: 100%;
  height: 300px;
  background: rgb(204, 204, 204);
}

.coach-jumbotron .cover-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.coach-jumbotron h2 {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 280px;
  left: 300px;
}

.profile-pic {
  width: 25%;
  min-width: 280px;
  height: 200px;
  position: absolute;
  top: 371px;
  transform: translateY(-100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid rgb(77, 77, 77);
}

.public-section {
  width: 100%;
  height: 80vh;
  display: flex;
  margin: 10px 0;
}

.coach-col {
  height: 100%;
}

/* INFOS */

.coach-infos {
  width: 25%;
  min-width: 280px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 603px;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
  padding-top: 110px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.coach-name {
  font-size: 28px;
  font-weight: bold;
}

.coach-specialty {
  background-color: #adb5bd;
  font-weight: bolder;
  padding: 4px 6px;
  margin: 2px;
  border-radius: 5px;
  color: rgb(59, 59, 59);
}

.coach-description {
  text-align: center;
}

.coach-price {
  font-size: 26px;
}

.coach-city {
  text-align: center;
}

/* CALENDAR FORM */
.calendar-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.calendar-form h2 {
  margin: 20px 0;
}

.calendar-form form {
  margin-bottom: 50px;
}

.calendar-form .form-check {
  padding-left: 0;
}

.calendar-form form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.coach-form-group {
  width: 95%;
}

.calendar-form .btn {
  width: 40%;
}

/* CALENDAR */

.calendar-form {
  width: 25%;
  min-width: 280px;
}

.calendar-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar-section h2 {
  margin: 20px 0;
}

.cover-image
{
width: 100%;
height: 400px;
object-fit: cover;
}

.avatar-image
{
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
}

.card-group
{
display: flex;
width: 100%;

}

.cards
{
width: 60%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.card-informations
{
  font-size: 14px;
  padding: 30px 10px;
  padding-top: 40px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.price-index-coach {
  font-size: 16px;
  font-weight: bold;
}

.card-informations h5 {
  margin-bottom: 0;
}

.button_booked
{
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.map {
width: 40%;
height: 100vh;
}

.photo-profil {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.photo-profil img {
  border-radius: 50%;
  border: 2px solid #FFF;
  object-fit: cover;

}

.coach_image
{
object-fit: cover;
height: 140px;

}

.map
{
width: 40%;
height: 100vh;
}

.find_map
{
width: 100%;
height: 100%;
position: fixed;
object-fit: cover;


}
