* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

a:hover {
	text-decoration: none !important;
}

#background {
	position: absolute;
	top: 0%;
	background: linear-gradient(rgba(255, 86, 48, 1), rgba(255, 86, 48, 0)); 
	background-size: cover;
	height: 50vh; 
	width: 100%;
}

.small {
	font-size: 14px;
}

/***************/
/*   COULEURS  */
/***************/

.orange {
	color: #ff5630;
}

.dark-grey {
	color: #343A40;
}

.mid-grey {
	color: #868E96;
}

.light-grey {
	color: #E9ECEF;
}

/**********************/
/*  	BUTTON / LOGO	  */
/**********************/

.search-button {
	color: rgba(0, 0, 0, 0.7);
}

.fa-user-circle {
	color: #868E96;
}

.fa-user-circle:hover {
	color: #ff5630;
	transition: 0.3s ease;
}

.fa-search {
	color: #868E96;
}

.fa-search:hover {
	color: #ff5630;
	transition: 0.3s ease;
}

.fa-shopping-cart {
	color: #868E96;
}

.fa-shopping-cart:hover {
	color: #ff5630;
	transition: 0.3s ease;
}

.fa-chevron-left, .fa-chevron-right {
	color: #fff;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
	text-shadow:2px 3px #868E96;
}