* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

a:hover {
	text-decoration: none !important;
}

#background {
	position: absolute;
	top: 0%;
	background: linear-gradient(rgba(255, 86, 48, 1), rgba(255, 86, 48, 0)); 
	background-size: cover;
	height: 50vh; 
	width: 100%;
}

.small {
	font-size: 14px;
}

/***************/
/*   COULEURS  */
/***************/

.orange {
	color: #ff5630;
}

.dark-grey {
	color: #343A40;
}

.mid-grey {
	color: #868E96;
}

.light-grey {
	color: #E9ECEF;
}

/**********************/
/*  	BUTTON / LOGO	  */
/**********************/

.search-button {
	color: rgba(0, 0, 0, 0.7);
}

.fa-user-circle {
	color: #868E96;
}

.fa-user-circle:hover {
	color: #ff5630;
	transition: 0.3s ease;
}

.fa-search {
	color: #868E96;
}

.fa-search:hover {
	color: #ff5630;
	transition: 0.3s ease;
}

.fa-shopping-cart {
	color: #868E96;
}

.fa-shopping-cart:hover {
	color: #ff5630;
	transition: 0.3s ease;
}

.fa-chevron-left, .fa-chevron-right {
	color: #fff;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
	text-shadow:2px 3px #868E96;
}
.buttom_sinscrire{
	display:flex;
	justify-content: space-around;
	text-align: center;
}


/**********************/
/*    Show seances	  */
/**********************/

.seance_show_html{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 20px;

}

.h1_resa{
	position: absolute;
	top: 0;
	left: 0;
	height: 40vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 30px;
}

.background_seances{
	
	top: 0;
	left: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
    filter: brightness(0.5);
}
.coach_card_seance{
	width: 100%;
	height: 300px;
	margin: auto;
}
.text_card_seances_show{
	font-weight: 200;
	background-color: ghostwhite;
	color: black;
	text-transform: uppercase;
	font-weight: bolder;
	font-weight: 900;
	text-align: center;
}
.seance_show{
	font-weight: 200;
	background-color: ghostwhite;
	color: black;
	text-transform: uppercase;
	font-weight: bolder;
	font-weight: 900 !important;
	text-align: center;
}
.user_card{
	font-weight: 200;
	background-color: ghostwhite;
	color: black;
	text-transform: uppercase;
	font-weight: bolder;
	font-weight: 900;
	text-align: center;
}
