* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

a:hover {
	text-decoration: none !important;
}

#background {
	position: absolute;
	top: 0%;
	background-size: cover;
	height: 100vh; 
	width: 100%;
	z-index: -1;
}

#macbook img {
	position: absolute;
	width: 35%;
	left: 45%;
	top: 15%;
}

.small {
	font-size: 14px;
}

/***************/
/*   COULEURS  */
/***************/

.orange {
	color: #ff5630;
}

.dark-grey {
	color: #343A40;
}

.mid-grey {
	color: #868E96;
}

.light-grey {
	color: #E9ECEF;
}

.white {
	color: #fff;
}

/**********************/
/*  	BUTTON / LOGO	  */
/**********************/

.search-button {
	color: rgba(0, 0, 0, 0.7);
}

.fa-user-circle {
	color: #fff;
}

.fa-user-circle:hover {
	color: #fff;
	opacity: .7;
	transition: 0.2s ease;
}

.fa-user-circle.scrolled {
	color: #ff5630;
}

.fa-user-circle.scrolled:hover {
	color: #ff5630;
	opacity: .7;
	transition: 0.2s ease;
}

.fa-search {
	color: #868E96;
}

.fa-search:hover {
	color: #ff5630;
	transition: 0.3s ease;
}

.fa-shopping-cart {
	color: #868E96;
}

.fa-shopping-cart:hover {
	color: #ff5630;
	transition: 0.3s ease;
}

.fa-chevron-left, .fa-chevron-right {
	color: #fff;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
	text-shadow:2px 3px #868E96;
}

.buttom_sinscrire{
	display:flex;
	justify-content: space-around;
	text-align: center;
}



/**********************/
/*	¨ANIMATION TEXT 	*/
/**********************/

.container-index {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

span.typed-text-index {
  color: rgb(255, 94, 94);
  font-weight: 200;
}

span.cursor-index {
  display: inline-block;
  background-color: #fff;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

span.cursor-index.typing {
  animation: none;
}

/* animation pour faire clignotter le curseur */
@keyframes blink {
  0% { background-color: #fff; }
  49% { background-color: #fff; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100% { background-color: #fff; }
}

/**************/
/*	¨INDEX 		*/
/**************/

#search-container {
	position: absolute;
	width: 100%;
	top: 50%;

}

#text-index {
	position: absolute;
	top: 15%;
	left: 15%;
	}


/**********************/
/*    Show seances	  */
/**********************/

.seance_show_html{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	overflow: hidden;
}
.h1_resa{
	position: absolute;
	top: 0;
	left: 0;
	height: 40vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 30px;
	color: #FF5630;
}
.background_seances{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
    filter: brightness(0.5);
    max-width: 100%;
}
.coach_card_seance{
	width: 100%;
	height: 300px;
	margin: auto;
	background-color: ghostwhite;
	font-weight: bolder;

}
.text_card_seances_show{
	font-weight: 200;
	background-color: ghostwhite;
	color: black;
	text-transform: uppercase;
	font-weight: bolder;
	font-weight: 900;
	text-align: center;
}
.seance_show{
	background-color: ghostwhite;
	color: black;
	text-transform: uppercase;
	font-weight: bolder;
	font-weight: 900;
	text-align: center;
}
.user_card{
	font-weight: 200;
	background-color: ghostwhite;
	color: black;
	text-transform: uppercase;
	font-weight: bolder;
	font-weight: 900;
	text-align: center;
}
.Button_return_Dashboard{
	position: absolute;
	top: 0;
	left: 0;
	height: 130vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	}
