#map {
  width: 100%;
  height: 100%;
}

/* POPUP CUSTOM */

.leaflet-popup-content-wrapper {
  width: 250px;
  height: 307px;
  border-radius: 5px;
  overflow: hidden;
}

.leaflet-popup-content {
  margin: 0;
  height: 100%;
}