.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #ff5630 !important;
}

a.nav-link {
	font-style: 'Roboto' !important, sans-serif;
	font-size: 14px;
}

.dropdown-item {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #868e96 !important;
}