.navbar.fixed-top {
	position: absolute;
	border: 1px transparent solid;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #ff5630 !important;
}

a.nav-link {
	font-style: 'Roboto' !important, sans-serif;
	font-size: 14px;
}

.dropdown-item {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #868e96 !important;
}

.profil-picture img {
	max-width: 50px;
	max-height: 50px;
}

.img-rounded {
	display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-height {
	height: 71px;
}

/* DROPDOWN */

.dropdown-menu-perso {
	position: absolute;
	top: 85px;
	left: 0;
	width: 250px;
}

.right-nav-perso {
	min-width: 250px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.right-div-nav {
	height: 71px;
	min-width: 250px;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.default-nav-icon {
	margin: 8px;
}