.cgu{
	margin: 50px 10%;
}

.cgv{
	margin: 50px 10%;
}

.title_contact{
	text-align: center;
	color: white;
	margin-top: 60px;
}

.contact_container{
	margin-top: 60px;
}

.icones{
	line-height:6%;
	color:#FF5630;
}