.cgu{
	margin-left: 20px;
	margin-right: 20px;
}

.cgv{
	margin-left: 20px;
	margin-right: 20px;
}

.title_contact{
	margin-top:-2%	
}


.test_jumbo{
	text-align: center;
	color: white;
	margin-top: 2%;

}