<!-- footer-->

    <footer class="footer footer-big footer-black">
    <div class="p-3 mb-2 bg-dark text-white">

<div class="color_footer">
    <div class="container">
        <div class="content ">
            <div class="row  d-flex justify-content-between">
                <div class="col-md-2">
                  <h6 class="orange">Besoin d'aide</h6>
                    <ul class="links-vertical">
                      <li>
                        <a class="text-muted" href="/team">Nous contacter</a>
                      </li>
                      <li>
                        <a class="text-muted" href="">Suivi de commande</a>
                      </li>    
                    </ul>
                  </div>
                <div class="col-md-4 ">
            <h6 class="orange">Mieux nous connaître</h6>
            <ul class="links-vertical">
                <li>
                  <a class="text-muted" href="index.html">Conditions générales de ventes</a>
                </li>
                <li>
                  <a class="text-muted" href="sing_in">Vos informations personnelles</a>
                </li>
                <li>
                    <a class="text-muted" href="contact.html">À propos de coach-me boutique</a>
                </li>
            </ul>
        </div>
                <div class="d-flex justify-content-around">
          <div class="col">
            <h6 class="orange">Suivez nous sur les réseaux sociaux</h6>
            <ul class="social-buttons">
                <a class="btn btn-icon btn-neutral btn-twitter btn-round" href="https://twitter.com/" style="color: white">
                <i class="fab fa-twitter-square fa-lg"></i>
            </a>         
                <a class="btn btn-icon btn-neutral btn-facebook btn-round" href="https://www.facebook.com/" style="color: white">
                <i class="fab fa-facebook-square fa-lg"></i>
            </a>        
                <a class="btn btn-icon btn-neutral btn-facebook btn-round" href="https://www.instagram.com/" style="color: white">
                <i class="fab fa-instagram fa-lg"></i>
            </a>    
          </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="copyright text-center mb-2">
      Copyright &copy; 2019 CoachMe Tous droits réservés.
  </div>
</div>
</footer>
<!-- fin footer -->