<footer>
  <div><%= link_to 'Contact', contacts_path %></div>
  <div><%= link_to 'CGV', cgv_path %></div>
  <div><%= link_to 'CGU', cgu_path %></div>
  <div><%= link_to 'À propos', about_path %></div>
  <div class="networks">
    <a class="btn btn-icon" href="https://twitter.com/CoachMe14">
      <i class="fab fa-twitter-square fa-lg"></i>
    </a>
    <a class="btn btn-icon" href="https://www.facebook.com/Coach.Me.Bordeaux">
      <i class="fab fa-facebook-square fa-lg"></i>
    </a>
    <a class="btn btn-icon" href="https://www.instagram.com/Coach.Me.Bordeaux/">
      <i class="fab fa-instagram fa-lg"></i>
    </a>
  </div>
</footer>
